@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kalam:wght@300;400;700&display=swap');

body{
    margin: 0;
    background-color: #E9D331;
}

html{
    scroll-behavior: smooth; /* Desplazamiento suabe */
}

header{
    display: flex;
    min-height: 100px;
    background-image: url(../img/fondo-header.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: "Oswald", sans-serif;
    /*position: sticky;  Mantiene el elemento en su posicion original hasta que alcanza un punto especifico en la pagina, en momento en el cual se vuelve fijo. */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

a{
    text-decoration: none; /* Saca el subrallado de los "a" */
    color: white;
}

.container-burger1706{
    display: grid;
    height: 110px;
    margin-left: 20px;
    grid-template-rows: 18% 90%;
}

.container-burger1706 h2{
    order: 2;
    text-align: end;
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-size: 50px;
    margin: 0;
}

.container-burger1706 h4{
    order: 1;
    font-family: "Kalam", cursive;
    font-weight: 700;
    text-align: end;
    color: #E9D331;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

nav a{
    font-weight: 600; /* Negritas */
    padding-right: 60px;
}

nav a:hover{
    color: #E9D331;
}

.cuerpo{
    margin: 80px auto;
    width: 90%;
    margin-top: 200px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 20em 1fr;
}

.imagen{
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 150px;
}

.titulo{
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(../img/contenedorTitulo.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.titulo h2{
    font-family: "Big Shoulders Stencil Text", sans-serif;
}

.descripcion{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
}

.descripcion h2, p{
    font-family: "Oswald", sans-serif;
}

.agregado-carrito{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agregado-carrito a{
    color: black;
    font-size: 20px;
    border-radius: 100px;
    background-color: #ff8a00;
    padding: 25px 10px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}

.otros-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.subtitulo h2{
    font-family: "Oswald", sans-serif;
}

.linea{
    margin-top: 10px;
    width: 100%;
    border-top: 6px solid #fff;
}

.listado{
    width: 100% !important;
    height: 400px !important;
}

.fin-presentacion{
    background-color: black;
    background-image: url(../img/meta.png);
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
    height: 50px;
}

.pie-de-pagina{
    width: 100%;
    background-color: black;
}

.grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.caja{
    display: grid;
    place-items: center; /* Centra horizontal y verticalmente */
}

.caja img{
    width: 150px;
}

.caja h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.caja p{
    color: #efefef;
    margin-bottom: 10px;
}

.red-social a{
    display: flex;
    text-decoration: none;
    width: 200px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: #0d200d;
    text-align: center;
    justify-content: space-evenly;
    transition: all 300ms ease;
}

.red-social a:hover{
    color: aqua;
}

.grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width: 1100px) {
    .titulo{
        font-size: 20px;
    }

    .descripcion{
        font-size: 16px;
    }

    .agregado-carrito a{
        font-size: 17px;
        padding: 18px 10px;
    }
}

@media screen and (max-width: 768px) {
    header{
        flex-direction: column;
    }

    .logo-img{
        height: 80px;
        margin-left: 0px;
    }

    .container-burger1706{
        height: 100px;
        grid-template-rows: 30% 90%;
    }

    .container-burger1706 h2{
        font-weight: 800;
        font-size: 40px;
    }

    .container-burger1706 h4{
        font-size: 15px;   
    }

    nav{
        padding: 10px 0px;
        padding-left: 60px;
    }

    .nav-link{
        font-size: 12px;
    }

    .titulo{
        font-size: 18px;
    }

    .descripcion{
        font-size: 15px;
    }

    .agregado-carrito a{
        font-size: 16px;
        padding: 17px 10px;
    }

    .titulo{
        background-size: 270px;
    }

    .subtitulo h2{
        font-size: 22px;
    }

    .linea{
        border-top: 5px solid #fff;
    }



    .fin-presentacion{
        height: 30px;
    }

    .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

    .caja img{
        width: 100px;
    }

    .caja h2{
        margin-bottom: 15px;
        font-size: 15px;
    }

    .red-social a{
        font-size: 12px;
        width: 150px;
    }
}

@media screen and (max-width: 480px) {
    nav{
        padding: 10px 0px;
        padding-left: 20px;
    }

    .logo-img{
        height: 60px;
        margin-left: 0px;
    }

    .container-burger1706{
        height: 60px;
        grid-template-rows: 30% 90%;
    }

    .container-burger1706 h2{
        font-weight: 800;
        font-size: 25px;
    }

    .container-burger1706 h4{
        font-size: 11px;   
    }

    .nav-link{
        font-size: 10px;
        padding-right: 40px;
    }

    .cuerpo{
        margin-top: 100px;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 20rem 100px 10rem 1fr;
    }

    .imagen{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .imagen img{
        max-width: 75%;
        max-height: 75%;
    }

    .titulo{
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .descripcion{
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .agregado-carrito{
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .titulo{
        background-size: 220px;
        font-size: 13px;
    }

    .descripcion{
        font-size: 10px;
    }

    .agregado-carrito a{
        font-size: 12px;
        padding: 12px 5px;
    }

    .otros-productos{
        margin: 10px;
    }

    .subtitulo h2{
        font-size: 16px;
    }

    .linea{
        border-top: 3px solid #fff;
    }













    .fin-presentacion{
        height: 15px;
    }

    .grupo-1{
        width: 70%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 15px 0px;
    }

    .caja img{
        width: 80px;
    }

    .caja h2{
        margin-bottom: 10px;
        font-size: 13px;
    }

    .caja p{
        font-size: 12px;
    }

    .grupo-2 small{
        font-size: 10px;
    }

    .red-social a{
        font-size: 10px;
        width: 120px;
        height: 35px;
        line-height: 35px;
    }
}